include LICENSE
include *.md
include pyproject.toml
recursive-include jupyter-config *.json

include package.json
include install.json
include babel.config.js
include jest.config.js
include ts*.json
include yarn.lock
include tvbextunicore/logger/logging.conf
include *.properties
include AUTHORS

graft tvbextunicore/labextension

# Javascript files
graft src
graft style
prune **/node_modules
prune lib
prune binder

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
