.tvb-pyunicoreWidget {
    background-color: whitesmoke;
    font-family: var(--jp-ui-font-family);
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.tvb-pyunicoreWidget > div {
    margin-top: 0.2rem;
}

.tvb-pyunicoreWidget table {
    width: 100%;
    border: var(--jp-border-width) solid black;
    border-collapse: collapse;
    background-color: white;
    color: black;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.tvb-pyunicoreWidget tr {
    border-bottom: 1px solid black;
}

/* hint that table rows that aren't with details are clickable */
.tvb-pyunicoreWidget tbody tr:not(.detailsRow) {
    cursor: pointer;
}
.tvb-pyunicoreWidget tbody tr:not(.detailsRow):hover {
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
}

.tvb-pyunicoreWidget tbody tr:nth-child(even) {
    background-color: whitesmoke;
}

.tvb-pyunicoreWidget td, th {
    padding: 8px;
}

.tvb-pyunicoreWidget table, body {
    font-family: var(--jp-ui-font-family);
}

.tvb-pyunicoreWidget thead {
    background-color: lightgray;
    text-transform: uppercase;
}

.tvb-pyunicoreWidget button {
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 7px;
    background-color: white;
    color: black;
}

.tvb-pyunicoreWidget button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
/**
top bar style
 */
.unicoreTopBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 0.2rem;
}
/* end top bar */
.lastUpdate {
    margin-left: 1rem;
}
/**
details section style
 */
.tvb-pyunicoreWidget .detailsRow td {
    column-span: all;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    width: 100%;
}
.tvb-pyunicoreWidget .detailsRow textarea {
    width: 100%;
    height: 10rem;
    border: none;
}
/* end details section style */

/**
selection component (pyunicore sites)
 */
.pyunicoreSites {
    display: flex;
    flex-direction: row;
    margin: 0 1rem 0 0 ;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.spin {
    -webkit-animation: spin 1s infinite linear;
    animation: spin 0.5s infinite linear;
}

.pyunicoreSites .refreshBtn {
    border: none;
    padding: 5px;
    background: none;
}
.pyunicoreSites div{
    border: var(--jp-border-width) solid var(--jp-border-color1);
    border-radius: 7px;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pyunicoreSites select {
    background-color: whitesmoke;
    border: none;
}
.pyunicoreSites span {
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 1rem;
}
/* end selection style */

/* modal styling */
.unicoreModal {
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.unicoreModal > div {
    width: 40%;
    min-height: 5rem;
    background-color: whitesmoke;
    border-radius: 7px;
    /*padding: 1rem;*/
    box-shadow: 0 0 10px 0 rgba(185,185,185, .4);
}
.unicoreModal > div h3 {
    padding: 0;
    margin: 0;
}

.unicoreModal > div > div:first-child {
    background-color: var(--jp-error-color1);
    border-radius: 7px 7px 0 0;
    color: whitesmoke;
}
.unicoreModal > div > div {
    padding: 1rem;
    margin: 0;
}

.unicoreModal button {
    background-color: var(--jp-error-color1);
    color: whitesmoke;
    padding: 0.5rem 1rem;
    border-radius: 7px;
    border: none;
    box-shadow: 0 0 7px 0 rgba(185,185,185, .4);
    cursor: pointer;
}

.unicoreModal button:hover {
    box-shadow: 0 0 14px 0 rgba(0,0,0, .4);
}
/* end modal style */

/* loading animation */
@keyframes circle{
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}
.loadingRoot {
    display: flex;
    align-items: center;
    justify-content: center;
}


.unicoreLoading {
    width: 0.9rem;
    height: 0.9rem;
    display: inline-block;
    border-radius: 50%;
    border: 3px solid var(--jp-border-color1);
    border-top: 3px solid var(--jp-cell-editor-active-border-color);
    animation: circle 0.5s linear infinite;
}

.unicoreMessage {
    color: var(--jp-error-color1);
}

.unicoreMessage-success {
    color: var(--jp-success-color1);
}

.unicoreMessage-warning {
    color: var(--jp-warn-color1);
}

/**
pagination style
 */
.unicorePagination {
    display: inline-block;
    border: var(--jp-border-width) solid var(--jp-border-color1);
    border-radius: 7px;
    margin-right: 1rem;
    /*margin-left: 0.5rem;*/
}
.unicorePagination div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.unicorePagination > div div {
    min-width: 1rem;
    padding: 0.2rem;
    height: 100%;
}
.unicorePagination button {
    padding: 0;
    border: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    color: var(--jp-border-color1);
}

button:disabled,
button[disabled]{
    color: #ababab;
    box-shadow: none;
}

button:disabled:hover,
button[disabled]:hover {
    box-shadow: none;
    cursor: initial;
}

.currentPageContainer {
    border-left: var(--jp-border-width) solid var(--jp-border-color1);
    border-right: var(--jp-border-width) solid var(--jp-border-color1);
    padding: 0 0.2rem;
}


/*----- output files -----*/
.unicore-jobOutput {
    display: flex;
    flex-direction: row;
    height: 1.3rem;
    align-items: center;
    margin: 0.1rem 0;
}

.outputFiles {
    text-align: left;
}

.outputFileName {
    margin: 0 0.5rem 0 0.2rem;
    display: inline-block;
}

.clickableIcon {
    cursor: pointer;
}

i {
    color: var(--jp-content-font-color2);
}