name: Build

on:
  push:
    branches:
    - 'main'
  pull_request:
    types: [opened, synchronize, reopened]


jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [ "3.11"]

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Base Setup
      uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1

    - name: Install dependencies
      run:  python -m pip install -U "jupyterlab>=4.0.0,<5" check-manifest pyunicore pytest pytest-mock build

    - name: Install Node.js dependencies
      run: jlpm install

    - name: Test the extension with jlpm
      run: |
        set -eux
        jlpm run test

    - name: Build the extension
      env:
        CLB_AUTH: 'TEST_TOKEN'
      run: |
        set -eux
        jlpm
        jlpm run build
        python -m pip install .[test]

        jupyter server extension list
        
        jupyter server extension list 2>&1 | grep -ie "tvbextunicore.*OK"
        jupyter labextension list 2>&1 | grep -ie "tvb-ext-unicore.*OK"
        python -m jupyterlab.browser_check

        python -m build --sdist
        pip uninstall -y "tvb-ext-unicore" jupyterlab

    - name: Run Python & JS tests
      run: |
        set -eux
        pytest tvbextunicore -r ap
        yarn test

    - name: Package the extension
      run: |
        set -eux

        pip install build
        python -m build
        pip uninstall -y "tvb-ext-unicore" jupyterlab

    - name: Upload extension packages
      uses: actions/upload-artifact@v4
      with:
        name: extension-artifacts-${{ matrix.python-version }}
        path: dist/tvb_ext_unicore*
        if-no-files-found: error

  sonar_cloud:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Base Setup
        uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1

      - name: Install dependencies
        run: python -m pip install -U "jupyterlab>=4.0.0,<5" check-manifest pyunicore pytest pytest-mock pytest-cov

      - name: Compute coverage
        run: |
          python -m pip install .[test]
          pytest -v  --cov --cov-report=xml
          yarn test --coverage

      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  test_isolated:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Install Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        architecture: 'x64'

    - uses: actions/download-artifact@v4
      with:
        name: extension-artifacts-3.11

    - name: Install and Test
      run: |
        set -eux
        # Remove NodeJS, twice to take care of system and locally installed node versions.
        sudo rm -rf $(which node)
        sudo rm -rf $(which node)

        pip install "jupyterlab>=4.0.0,<5" tvb_ext_unicore*.whl

        jupyter server extension list 2>&1 | grep -ie "tvbextunicore.*OK"
        jupyter labextension list 2>&1 | grep -ie "tvb-ext-unicore.*OK"
        python -m jupyterlab.browser_check --no-browser-test
